/* =============GENERALES============= */
body{
    background-color: #090c15;
}
h1,h2,h3,h4,p,a{
    color: azure;
}
a{
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 8fr;
}



/* =============INICIO============= */

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 3rem;
    background-color: #151b2b;
    padding: 2rem 2rem;
    border-radius: 1rem;
}
label{
    color: azure;
}
.centrar-h4{
    text-align: center;
    padding-bottom: 2rem;
}
.centrar-inicio{
    text-align: center;
    margin-top: 10rem;
}




/* =============SECCIONES============= */
.posicion-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.centrar{
    text-align: center;
    background-color: #151b2b;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.espacios{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #151b2b;
}
.color-focus{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: #090c15;
}
.espacios:hover{
    background-color: #090c15;
}


/* =============CONTENIDO============= */

